<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
<h2>This is the system of respond and getting information from user.</h2>

{{key}}
<br>
<br>
<h3>Now im user users name ,user age and article. </h3>
<form action="{% url 'result' %}" >
    {% csrf_token %}
    <table>
        <tr>
            <td>User name</td>
            <td><input type="text" name ="user_name"></td>
        </tr>
        <tr>
            <td>User Age</td>
            <td><input type="text" name ="user_age"></td>
        </tr>
    </table>
    <textarea cols="60" rows="10" name="article"></textarea><br>
    <input type="submit" value="submit">
</form>

</body>
</html>